main{
    width: 1060px;
}
header{
    width: 100%;
    text-align: center;
    line-height: 100px;
    height: 200px;
    margin: auto;
    background-color: blanchedalmond;
}
section{
    width: 250px;
    float: left;
    margin: 50px;
}

img{
    width: 250px;
}

footer{
    clear: both;
    width: 100%;
    text-align: center;
    line-height: 100px;
    height: 100px;
    margin: auto;
    background-color: blanchedalmond;

}
#photo-template{
    display: none;
}
